@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
     margin: 0;
     padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    margin: 0.075rem 0;
}

.text-center{
    text-align: center;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #f4f4f4;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
.text-primary{
    color:#93cb52;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    justify-content: center;
    text-align: center;
}
.py-1{ padding: 1.5rem; }
.py-2{ padding: 2rem; }
.py-3{ padding: 3rem; }

.list{
    margin: 0.5rem;
    list-style: none;
}

.list li{
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

#navigation{
    display: flex;
    position: sticky;
    top: 0;
    background: #333;
    color:#fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}
#navigation ul{
    display: flex;
    align-items: center;
    list-style: none;
}
#navigation ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}
#navigation ul li a:hover {
    background: #93cb52;
    border-radius: 32px;
}
#navigation ul li a:hover:not(.active){
    background-color: 111;
}
.active{
    background-color: #93cb52;
}
#showcase {
    background:#333 url(../strawberry.jpg) no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

#showcase .s-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    position: absolute;
    top: 60px;
    left: 0;
    right:0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
}

.items{
    background: #93cb52;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0.5rem;
    justify-content:space-around;
    
}
.item{
    background-color: #333;
    color:#fff; 
    margin: 2rem 0;
    text-align: center;
}
.item:hover{
    border: solid #333;
    -webkit-filter: blur(4px); 
    filter: blur(2px);
}

#about{
    display: flex;
     
}
#about div{
    flex: 1;
}

#about .about-img{
    background: url(../teamwork.jpg) no-repeat center center/cover;
}
.about-text{
    border: solid #93cb52;
    border-style: inset;
}
.p-contact{
    text-align: center;
}
.contact-form{
    box-sizing: border-box;
    float: left;
    width: 47.5vw;
    margin: 0 auto;
    border-radius: 5px;
}
.inpt,textarea {
    display: block;
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    border-radius: 5px;
}
button{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
fieldset{
    border: none;
  padding: 0.5rem 0;
}
strong{
    color: #fff;
    font-size: large;
}
strong:hover{
    font-size: x-large;
    font-weight: 700;
    cursor: pointer;
}
button:hover{
    background-color: #93cb52;
}

